.button {
  @extend %bordered;
  padding: $distance-medium $distance-extra-large;
  background-color: $color-text-white;
  border-radius: $border-radius;

  &__action {
    color: $color-text-white;
    background-color: $color-action;
    border-color: $color-action; // to match height
  }
}
