
$font-size-medium: 22px;
$font-size-large: 28px;

$color-attention: #F05E3A;
$color-text: #7A7A7A;
$color-action: #1DBC2D;
$color-link: #22A7D3;
$color-secondary-lignt: #DCDCDC;
$color-secondary-dark: #424242;

$border-radius: 4px;

$distance-small: 10px;
$distance-medium: 20px;
$distance-large: 30px;
