
$font-size-medium: 22px;
$font-size-large: 28px;

$color-attention: #F05E3A;
$color-text: #7A7A7A;
$color-text-white: #FAFAFA;
$color-action: #1DBC2D;
$color-link: #22A7D3;
$color-secondary-light: #DCDCDC;
$color-secondary-dark: #424242;

$border-radius: 4px;

$distance-small: 10px;
$distance-medium: 20px;
$distance-large: 30px;
$distance-extra-large: 40px;

%bordered {
  box-sizing: border-box;
  border: 2px solid $color-secondary-light;
}

* {
  color: $color-text;
  font-size: $font-size-medium;
}
