@import './common.scss';
@import './alert.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.countdown,
.information,
.information_item {
  margin-bottom: $distance-medium;
}