@import './common.scss';
@import './typography.scss';
@import './alert.scss';
@import './progress.scss';
@import './button.scss';
@import './input.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.alert {
  margin-bottom: $distance-medium;
}

.details {
  max-width: 500px;
  margin-bottom: $distance-large;
  
  &_content {
    @extend %bordered;
    padding: $distance-large;
    border-top: 0px;
  }

  &_item {
    margin-bottom: $distance-large;
  }

  &_input {
    width: 100%;
    margin: 0px 0px $distance-large 0px;
    
    @include media-tablet {
      width: 200px;
      margin: 0px $distance-medium 0px 0px;
    }
  }

  &_button {
    width: 100%;

    @include media-tablet {
      width: 205px;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}
