.input {
  @extend %bordered;
  display: flex;
  flex-direction: row;
  padding: $distance-medium $distance-extra-large;
  border-radius: $border-radius;
  
  &_actual-input {
    max-width: 100%;
    padding: 0px;
    color: $color-secondary-dark;
    border: none;
  }

  &_dollar {
    margin-right: $distance-small;
  }
}
